<div class="container">
<div class="wrapper">
<div class="partyimage">
<%= image_tag "member.jpg", class: "sizingimage" %>

</div>
<div class="signupform">
  <div class="signuptitle">
  <h2 class="mt-4">Become a member</h2>
  <p> - don’t miss out on deals, offers, discounts and bonus vouchers.</p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  label: false,
                  placeholder: "Email *",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "input-form" }%>
      <%= f.input :password,
                  label: false,
                  placeholder: "Create a password *",
                  required: true,
                  hint: (" Min #{@minimum_password_length} characters, 1 uppercase & 1 number" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "input-form" } %>
      <%= f.input :password_confirmation,
                  label: false,
                  placeholder: "Password Confirmation *",
                  required: true,
                  input_html: { autocomplete: "new-password", class: "input-form mb-4" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Become a member", class: "btn-white py-2" %>
      <%= link_to "Sign in", new_session_path(resource_name), class: "btn btn-signup-forgotpassword py-2" %>
    </div>
  <% end %>
</div>
 </div>
</div>
