<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-4">
  <div class="container-fluid">
    <div class="container-logo">
      <%= link_to root_path, class: "navbar-title" do %>
      <h1>.</h1>
      <% end %>
      <%= link_to root_path, class: "navbar-title" do %>
      <h1>DressUs</h1>
      <% end %>
    </div>
  </div>
  <div class="navbar-icons">
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-solid fa-globe fa-lg me-4"></i></a>
      <a href="https://www.facebook.com/" target="_blank"><i class="fa-solid fa-heart fa-lg me-4"></i></a>
      <a href= link_to target="_blank"><i class="fa-solid fa-bag-shopping fa-lg me-4"></i></a>
        <div class="dropdown">
          <i class="fa-solid fa-bars "></i>
            <div class="dropdown-content">
              <% if current_user %>
              <%= button_to "logout", destroy_user_session_path, method: :delete  %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path%>
                <a href="#">My account</a>
                <%= link_to "Not a member yet ? Join for free!", new_user_registration_path%>
              <% end %>
            </div>
        </div>
   </div>
</div>
