<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-4">
  <div class="container-fluid">
    <div class="container-logo">
      <%= link_to root_path, class: "navbar-title" do %>
      <h1>.</h1>
      <% end %>
      <%= link_to root_path, class: "navbar-title" do %>
      <h1>DressUs</h1>
      <% end %>
    </div>
  </div>
  <div class="navbar-icons">
      <%= link_to wishlist_path, class: "fa-solid fa-globe" do %>
      <% end %>
      <%= link_to wishlist_path, class: "fa-solid fa-heart" do %>
      <% end %>
      <%= link_to wishlist_path, class: "fa-solid fa-bag-shopping" do %>
      <% end %>
        <div class="dropdown">
          <i class="fa-solid fa-bars "></i>
            <div class="dropdown-content">
              <% if current_user %>
              <a href="#">My account</a>
              <a href="#">Settings</a>
              <a href="#">Wishlist</a>
              <a href="#">Shopping bag</a>
              <%= button_to "Sign out", destroy_user_session_path, class: "btn-logout" , method: :delete  %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path%>
                <%= link_to "Not a member yet ? Join for free!", new_user_registration_path%>
              <% end %>
            </div>
        </div>
   </div>
</div>
