<!DOCTYPE html>
<html>
  <head>
    <title>DressUs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('du.png') %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <the-script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></the-script>
  </head>

  <body>
    <div class="page-container">
        <div class="navbar-container">
        <% if action_name == 'home' %>
          <%= render "shared/navbar_homepage" %>
        <% elsif params[:category] == "Men" %>
          <%= render "shared/navbar" %>
        <% elsif params[:category] == "Women" %>
          <%= render "shared/navbar_her" %>
        <% end %>

          <div class="searchbar-container">
            <% unless action_name == 'home' %>
              <% if params[:category] == "Men" %>
                <%= render "shared/searchbar" %>
              <% else %>
                <%= render "shared/searchbar_her" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="content-container"><%= yield %></div>
          <div class="footer-container"><% unless action_name == 'home' %>
            <%= render "shared/footer" %>
            <% end %>
          </div>
        </div>
    </div>
  </body>
</html>
